* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  background-color: #111;
  color: white;
  font-size: 0.8em;
  padding: 0px 10px;
}
#toolbar #album-name {
  margin: auto 0;
  padding-right: 20px;
}
#toolbar #window-options {
  display: flex;
  flex-direction: row;
  margin: auto 0;
  font-size: 0.8em;
}
#toolbar #window-options .window-button {
  margin: auto 20px;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
}

#sidebar {
  background-color: #111;
  width: 230px;
  font-size: 0.9em;
  color: #aaa;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 20px;
  position: relative;
}
#sidebar .block {
  display: flex;
  flex-direction: column;
  margin: 0 20px 10px 20px;
}
#sidebar .block .main-option,
#sidebar .block .playlists-option {
  margin: 10px 0;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#sidebar .block .main-option .option-icon,
#sidebar .block .playlists-option .option-icon {
  font-size: 1.5em;
  margin-right: 10px;
}
#sidebar .block .playlists-option {
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#sidebar .block #playlists-title {
  text-transform: uppercase;
  margin: 10px 0;
}
#sidebar hr {
  margin: 0 20px 10px 20px;
  border-width: 0.5px;
  border-color: #aaa;
}
#sidebar #playlists-list {
  overflow-y: scroll;
  height: 250px;
  margin-left: 20px;
}
#sidebar #playlists-list .playlists-item {
  margin: 10px 0;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#sidebar .album-cover {
  height: 230px;
  width: 230px;
  position: absolute;
  bottom: 0;
}
#sidebar .album-cover img {
  max-width: 100%;
  max-height: 100%;
}

#main-container {
  display: flex;
  flex-direction: row;
  background-color: #222;
  flex-grow: 1;
  padding: 70px 100px 0 100px;
  position: relative;
}
#main-container #background {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(#cd735877, #fff0);
  z-index: 1;
}
#main-container .wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  z-index: 2;
}
#main-container .wrapper #album-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#main-container .wrapper #album-info .album-cover {
  height: 350px;
  width: 350px;
}
#main-container .wrapper #album-info .album-cover img {
  max-width: 100%;
  max-height: 100%;
}
#main-container .wrapper #album-info .album-cover img:hover {
  opacity: 0.3;
}
#main-container .wrapper #album-info #album-title {
  color: #eee;
  font-size: 2em;
  font-weight: 700;
  padding-top: 5px;
}
#main-container .wrapper #album-info .artist-name {
  color: #777;
  font-size: 0.9em;
  font-weight: 500;
}
#main-container .wrapper #album-info #play-button {
  background-color: #1fb653;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  margin: 20px auto 0 auto;
  font-size: 0.8em;
  color: #fff;
  text-transform: uppercase;
}
#main-container .wrapper #album-info #play-button span {
  margin: auto;
}
#main-container .wrapper #album-info #play-button:hover {
  background-color: #1ed760;
  font-size: 0.9em;
  width: 137px;
  height: 42px;
}
#main-container .wrapper #album-info #further-info {
  margin-top: 20px;
  color: #aaa;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
}
#main-container .wrapper #album-info #options {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}
#main-container .wrapper #album-info #options .option-icon {
  color: #eee;
  margin: 0 10px;
  font-size: 1.5em;
}
#main-container #album-songs {
  padding-left: 150px;
  width: 100%;
}
#main-container #album-songs .album-song {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
#main-container #album-songs .album-song:hover {
  background-color: #fff1;
}
#main-container #album-songs .album-song .song-icon {
  color: #aaa;
}
#main-container #album-songs .album-song .song-info {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
#main-container #album-songs .album-song .song-info .song-title {
  color: #eee;
}
#main-container #album-songs .album-song .song-info .song-artist-album {
  color: #aaa;
  font-size: 0.8em;
  font-weight: 500;
}
#main-container #album-songs .album-song .song-duration {
  color: #aaa;
}

#playbar {
  background-color: #333;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
#playbar #song {
  display: flex;
  flex-direction: row;
}
#playbar #song #song-info {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
#playbar #song #song-info .song-title {
  color: #eee;
  font-size: 0.9em;
}
#playbar #song #song-info .artist-name {
  color: #bbb;
  font-size: 0.75em;
}
#playbar #song #song-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#playbar #song #song-options .song-option-icon {
  color: #bbb;
  margin: 0 10px;
}
#playbar #player {
  display: inline;
}
#playbar #player #buttons {
  color: #bbb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
#playbar #player .button {
  margin: 0 20px;
}
#playbar #player #button-play {
  font-size: 2em;
}
#playbar #player #progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#playbar #player #progress #progress-bar-full {
  background-color: #777;
  width: 600px;
  height: 4px;
}
#playbar #player #progress #progress-bar-full #progress-bar-done {
  width: 20%;
  height: 100%;
  background-color: #bbb;
}
#playbar #player #progress #progress-current,
#playbar #player #progress #progress-duration {
  padding: 0 10px;
  font-size: 0.75em;
  color: #bbb;
}
#playbar #settings {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#playbar #settings .settings-button {
  color: #bbb;
  margin: 0 20px;
}
#playbar #settings #volume-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#playbar #settings #volume-control #volume-bar-max {
  background-color: #777;
  width: 80px;
  height: 4px;
  margin-left: 5px;
}
#playbar #settings #volume-control #volume-bar-max #volume-bar-current {
  width: 20%;
  height: 100%;
  background-color: #bbb;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

/*# sourceMappingURL=style.css.map */
